@import "tailwindcss";
@config "../tailwind.config.js";

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
}

body {
  font-size: 1.6rem;
  line-height: 1.5;
}

/* CSS config */
/* BASE */

/* COMPONENTS */

/* UTILITIES */
@layer utilities {
  /*****************
  HEADER
  *****************/
  .header__wrapper {
    @apply w-screen h-[60px] shadow-xs flex justify-center;
  }
  .header__inner {
    @apply h-full w-container flex items-center justify-between;
  }
  /* Search Result */
  .search_result {
    @apply w-wsearch;
  }
  .account__item__wrapper {
    @apply flex items-center gap-3 mb-2 py-2 px-4 cursor-pointer hover:bg-account-hover;
  }
  .account__item_avatar {
    @apply size-20 rounded-full object-cover;
  }
  .account__item_info {
    @apply flex-1;
  }
  .account__item_info-name {
    @apply text-[16px] font-semibold;
  }
  .account__item_info-name span {
    @apply mr-2;
  }
  .account__item_info-tick {
    @apply text-green-500;
  }
  .account__item_info-username {
    @apply text-[14px];
  }
  /* Search Box */
  .header__inner__search {
    @apply relative flex items-center w-wsearch h-hsearch border border-solid border-transparent bg-search-bg pl-4 rounded-4xl after:content-[""] after:absolute after:top-[9px] after:right-23 after:h-[28px] after:w-[1px] after:bg-[rgba(22,24,35,0.12)]  focus-within:border-[rgba(22,24,35,0.2)];
  }
  .header__inner__search-input {
    @apply flex-1 h-full text-[16px] text-black caret-red-600 border-none outline-none bg-transparent;
  }
  .header__inner__search-clear {
    @apply absolute right-[72px] top-1/2 -translate-y-1/2 text-search-clear;
  }
  .header__inner__search-loading {
    @apply absolute right-[72px] top-1/2 -translate-y-1/2 text-search-clear;
  }
  .header__inner__search-btn {
    @apply h-full w-23 text-3xl text-search-button border-none outline-none rounded-tr-4xl rounded-br-4xl cursor-pointer hover:bg-search-hover active:bg-search-active;
  }

  /* Action */
  .header__inner__actions {
    @apply flex items-center gap-2;
  }
  /*****************
  DEFAULT LAYOUT  
  *****************/
  .default_layout__wrapper {
    @apply flex flex-col items-center;
  }
  .default_layout__container {
    @apply w-container flex;
  }
  /* Sidebar */
  .sidebar__wrapper {
    @apply w-sidebar;
  }
  /* Content */
  .default_layout__content {
    @apply flex-1;
  }
}
