@import "tailwindcss";
@config "../tailwind.config.js";

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 1.6rem;
  line-height: 1.5;
}
html {
  font-size: 62.5%;
}

/* CSS config */
/* BASE */

/* COMPONENTS */

/* UTILITIES */
@layer utilities {
  /* Header */
  .header__wrapper {
    @apply w-screen h-[60px] shadow-xs flex justify-center;
  }
  .header__inner {
    @apply h-full w-[1150px] bg-[#ccc];
  }
  /* Default Layout */
  .default_layout__wrapper {
    @apply flex flex-col items-center;
  }
  .default_layout__container {
    @apply w-[1150px] flex;

    /* Sidebar */
    .sidebar__wrapper {
      @apply w-[356px];
    }
    /* Content */
    .default_layout__content {
      @apply flex-1 bg-amber-200;
    }
  }
}
